.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-8rem);
  padding: 6rem 10rem;
}
.cards .cardsText {
  color: black;
  text-align: center;
  padding: 0 auto;
}

.cards .cardsText h2 {
  font-size: 2.8rem;
}

.cards .cardsText p {
  margin: 1rem auto;
  width: 70%;
  font-size: 1.3rem;
  font-weight: 700;
}

.cards .cardsContainer {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
}
.cards .card {
  background: #fbeed5;
  padding: 3rem;
  text-align: center;
  border-radius: 0.5rem;
}
.cards .card:nth-child(2) {
  padding: 3rem 5rem;
}

.cards .img1Container {
  display: relative;
}
.cards .img1Container img:nth-child(2) {
  position: absolute;
  transform: translate(-1.1rem, 0.1rem);
}

.cards .card h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: 700;
}
.cards .card p {
  margin: 0.7rem;
}
.cards .card a {
  text-decoration: none;
  padding: 0.8rem 1rem;
  border: solid 1px var(--orange);
  color: var(--orange);
  border-radius: 3rem;
  margin-top: 1.5rem;
  display: inline-block;
}

@media (max-width: 900px) {
  .cards {
    padding: 6rem 2rem !important;
  }
  .cards .cardsContainer {
    flex-direction: column;
  }
}
