@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --orange: #e7b65f;
  --blue: #0e4656;
  --grey: #6f6f6f;
}

/*
colors used:

fonts used:
- Lato Regular, Lato Semibold;
- Rufina Regular, Rufina Bold;
*/
html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  /* padding-left: 150px;
  padding-right: 150px; */
  font-family: "Lato", sans-serif;
}

.homeCards {
  background: rgba(246, 246, 246, 1);
  padding: 0 11rem;
  padding-bottom: 6rem;
}
.simulatorCards {
  padding: 15rem;
  margin-bottom: -30rem;
  background: rgba(246, 246, 246, 1);
}

/* Headers */

/* Large header */
h1 {
  font-family: "Rufina", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: white;
}

/* Small header */
h2 {
  font-family: "Rufina", serif;
  font-weight: 400;
  font-size: 36px;
  color: var(--blue);
}

/* Small subtitle */
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--grey);
}

/* Paragraph */
p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--grey);
}

/* Buttons */

button {
  /* border-radius: 50px;
  padding: 15px 25px 15px 25px; */
}

/* Full button orange */
.buttonFullOrg {
  /* color: white;
  background-color: var(--orange);
  border: 2px solid var(--orange); */
}
.buttonMainOrg:hover {
  /* color: var(--orange);
  background-color: transparent; */
}

/* Border button orange */
.buttonBorderOrg {
  /* color: var(--orange);
  background-color: transparent;
  border: 2px solid var(--orange); */
}
.buttonBorderOrg:hover {
  /* color: var(--grey);
  border: 2px solid var(--grey); */
}

/* Full button blue */
.buttonFullOrg {
  /* color: white;
  background-color: var(--blue);
  border: 2px solid var(--blue); */
}
.buttonMainOrg:hover {
  /* color: var(--blue);
  background-color: transparent; */
}

/* Border button blue */
.buttonBorderOrg {
  /* color: var(--blue);
  background-color: transparent;
  border: 2px solid var(--blue); */
}
.buttonBorderOrg:hover {
  /* color: var(--grey);
  border: 2px solid var(--grey); */
}

/* Main items */
.box {
  background: #ffffff;
  box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

/* @media (min-width: 90em) {
  .my-container {
    width: 90em;
    margin: 0 auto;
  }
} */

@media (max-width: 900px) {
  .homeCards {
    background: #e5e5e5;
    padding: 0 3rem;
    padding-bottom: 6rem;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 70%;
  }
}

/* @media (min-width: 2048px) {
  html {
    font-size: 150%;
  }
}
@media (min-width: 3840px) {
  html {
    font-size: 300%;
  }
} */
